.header
{
    background-image: url(/img/frontpage-\ new.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-dark-30
{
    background-color: rgba(0, 0, 0, 0.3);
}
.trans-5
{
    transition: 0.5s;
}
